<!DOCTYPE html>
<html lang="en">
  <head>
    <title>1</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/footer.css" />
  </head>
  <body>
    <footer class="mainfooter" role="contentinfo">
      <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
                <h4>В разработке участвовали</h4>
                <div>
                  <ul class="list-unstyled">
                    <li><a href="#"></a></li>
                    <li><a href="#">Смирнова Ксения</a></li>
                    <li><a href="#">Пиксаев Илья</a></li>
                    <li><a href="#">Свиткова Полина</a></li>
                    <li><a href="#">Кошутин Кирилл</a></li>
                    <li><a href="#">Платонова Татьяна</a></li>
                  </ul>
                  <ul class="list-unstyled">
                    <li><a href="#">Тарасов Максим</a></li>
                    <li><a href="#">Фролов Дмитрий</a></li>
                    <li><a href="#">Трофимова Софья</a></li>
                    <li><a href="#">Бредихин Денис</a></li>
                    <li><a href="#">Чучнев Егор</a></li>

                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <!--Column1-->
              
            </div>
            <div class="col-md-3 col-sm-6">
              <!--Column1-->

              <h4>Follow Us</h4>
              <ul class="social-network social-circle">
                <li>
                  <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 copy">
              <p class="text-center">&copy; Все права защищены. 2023</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
