<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <title>Document</title>
  </head>
  <body class="body">
    <footer class="footer">
      <div class="name">
        <p class="main-text" style="padding-bottom: 16px">В разработке учавствовали:</p>
        <div style="display: flex; justify-content: space-between">
          <div>
            <p class="main-text" style="color: #2e2e2e; line-height: 1.5em">
              Смирнова Ксения<br />Пиксаев Илья<br />Свиткова Полина<br />Кошутин Кирилл<br />Подосенова Анна<br />Платонова Татьяна
            </p>
          </div>
          <div class="block-name2">
            <p class="main-text" style="color: #2e2e2e; line-height: 1.5em">
              Тарасов Максим<br />Фролов Дмитрий<br />Трофимова Софья<br />Бредихин Денис<br />Чучнев Егор<br />Карбасников Артем
            </p>
          </div>
          <div>
            <div><p class="main-text">Мы в соц сетях:</p></div>
            <div class="ikonka"><a><img src="/assets/img/discord.png"></a><img src="/assets/img/git.png" style="padding-left: 20px;"><img  src="/assets/img/vk.png" style="padding-left: 20px;"><img src="/assets/img/Youtube.png" style="padding-left: 20px;" ></div>
          </div>
          <div class="logo"><img src="/assets/img/logo.png" /></div>
        </div>
      </div>
    </footer>
  </body>
</html>
