<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="news-box">
        <p class="main-text date">
            19 Февраля 2023 года
        </p>
        <div class="content">
            
            <img src="/assets/img/cow.png" alt="корова">
            <div class="text-place">
                <p class="high-text">Завершение</p>
                <p class="main-text">Мы&nbsp;завершаем этот проект! Демо останется для вас на&nbsp;сайте, а&nbsp;саму игру уже можно найти в&nbsp;магазине.<br />
                    Это наш первый полноценный завершенный проект и&nbsp;только начало для компании. <br />
                    <br />
                    Будет приятно через несколько лет собраться компанией и&nbsp;с&nbsp;весельем вспоминать об&nbsp;этих временах.</p>
            </div>
        </div>
    </div>
</body>
</html>