.main-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: var(--font-color-main);
}

.bold-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--font-color-main);
}

.high-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: var(--font-color-main);
}

.headline-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: var(--font-color-main);
}

@media (max-width: 768px) {
    .main-text {
        font-size: 18px;
    }
    .bold-text {
        font-size: 18px;
    }
    .high-text {
        font-size: 20px;
    }
    .headline-text {
        font-size: 24px;
    }
}