.banner {
    display: flex;
    
    margin: 24px 0;
}

.banner > .arrow {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
}

.banner > .arrow > img {
    width: 48px;
    height: 68px;
}

.banner > .scroll-image-place {
    width: 100%;
    position: relative;
}

.banner > .scroll-image-place::before{
    display: block;
    content: "";
    padding-top: 56.5%;
}

.banner > .scroll-image-place > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    border-radius: 20px;
}

.banner > .scroll-image-place > div > img {
    scroll-snap-align: start;
    display: block;
}


.banner > .scroll-image-place > div::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1000px) {
    .banner > .arrow {
        display: none;
    }
}
