
footer {
    background-color: var(--color-primary);
}

footer > div {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    
    gap: 48px;
    max-width: 1059px;
    width: 100%;
    margin: 0 auto;
}

footer .column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
}

footer .list {
    padding-left: 8px;
}

footer .autor {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

footer .ikonka > img {
    padding: 4px;
}