.news-box {

}

.news-box > .date {
    margin-bottom: 8px;
}

.news-box > .content {
    background-color: var(--color-primary);
    border: 2px solid var(--color-onprimary);
    border-radius: 10px;
    padding: 24px;
    display: flex;
    gap: 24px;
}

.news-box > .content > img {
    border-radius: 10px;
}

.news-box .high-text {
    margin-bottom: 8px;
}